<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUjIhJ2MyVTrbd9IGE5ieK09EmmHpEnbk</string>
	<key>GCM_SENDER_ID</key>
	<string>827829485756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tickodo</string>
	<key>PROJECT_ID</key>
	<string>to-do-firebase-e4e42</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-firebase-e4e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827829485756:ios:46735401a8a27a0e3490b9</string>
</dict>
</plist>